/* Default settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

ul,
ol,
menu {
    list-style: none;
}

img {
    width: 100%;
}


a {
    text-decoration: none;
    color: currentColor;
    display: inline-block;
    cursor: pointer;
}

figure{
    display: block;
}

/* palette colori */

:root {
    --blue:#0084FD;
    --light-blue:#B5DDFF;
    --purple:#9792E4;
    --yellow:#FDC15F;
    --dark-grey:#333333;
    --light:#FFFFFF;

}


/* layouts */

.container {
    max-width: 1164px;
    margin: 0 auto;
}

.container-medium {
    max-width: 1050px;
    margin: 0 auto;
}

.container-small {
    max-width: 904px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

[class^="col"]{
    padding: 0px 12px;
}

.col-4 {
    flex-basis: calc((100% / 12) * 4);
}

.col-6 {
    flex-basis: calc((100% / 12) * 6);
}

.col-8 {
    flex-basis: calc((100% / 12) * 8);
}

.col-12 {
    flex-basis: calc((100% / 12) * 12);
}



/* utility classes */

.small-text{
    font-size: 15px;
}

.medium-text{
    font-size: 22px;
}

.text-center{
    text-align: center;
}
.text-weight{
    font-weight: 700;
}

.text-italic{
    font-style: italic;
}

.text-opacity{
    opacity: 0.6;
}

.text-blue{
    color: var(--blue);
}

.text-white{
    color: var(--light);
}

.justify-between {
    justify-content: space-between;
}

.align-items-start{
    align-items: flex-start;
}

.align-items-center {
    align-items: center;
}


.img-block{
    display: block;
}

.button-icon{
    margin-right: 10px;
}

/* component classes */

.button {
    color: black;
    line-height: 40px;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    padding: 0 18px;
    white-space: nowrap;
}


/* header */

.page-header {
    background-color: var(--blue);
    padding: 16px 0px;
}

.navbar-list {
    color: var(--light);
    display: flex;
    gap: 22px;
}

li>a{
    line-height: 40px;
}

.hamburger-menu{
    color: var(--light);
   display: none;
}
/* Main */

section{
    padding: 50px 0px;
}

/* 1st Section - Cards */
.card{
    row-gap: 25px;
}

.card__style{
    background-color: var(--light-blue);
    border-radius: 20px;
    height: 100%;
}
.card__demo{
    display: flex;
    flex-direction: row;
}

.demo-phone{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.demo-phone__img{
    width: 200px;
}

.button__app-store{
    color: var(--light);
    background-color: var(--blue);
    padding: 0px 40px;
    letter-spacing: 4px;
}

.card__body{
    padding: 30px 25px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.card__icon{
    font-size: 60px;
}

/* 2nd Section - Developement */

.developement{
    background-color: var(--purple);
}

.developement__content{
    flex-wrap: nowrap;
}

.developement__card{
    display: flex;
    align-items: flex-end;
}
.developement__card-body{
    padding: 30px 25px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.developement__card-style{
    background-color: white;
    border-radius: 20px;
}

.developement__card-img-1{
   padding: 90px 0px;
}

.developement__button{
    background-color: var(--purple);
    border-radius: 100%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
}

/* .developement__card-img-2{
    width: 215px;
} */


/* Responsive */

/* Tablet */

@media (max-width: 767.98px){
    .navbar-list{
        display: none;
    }
    .hamburger-menu{
        display: block;
    }

    .card__demo{
        flex-direction: column;
    }

    .demo-phone{
        justify-content: flex-start;
    }

    .developement__content{
        flex-wrap: wrap;
    }

    .developement__content>.col-{
        width: 100%;
    }

    .responsive-title{
        font-size: 40px;
    }
}

/* Mobile */

@media (max-width: 575.98px){
    .demo-phone{
        justify-content: center;
    }

    [class^="col-"]{
        width: 100%;
    }

    .button__app-store{
        white-space: wrap;
    }

    .card{
        flex-direction: column;
    }

    .responsive-title{
        font-size: 22px;
    }
}

/* debug */

.debug .container,
 .debug .container-medium,
 .debug .container-small  {
    border: 1px solid var(--yellow);
    padding: 10px;
}

.debug .row {
    border: 1px solid var(--purple);
    padding: 10px;
}
.debug [class^="col-"] {
    border: 1px solid orange;
    padding: 10px;
}

