/* Default settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

ul,
ol,
menu {
    list-style: none;
}

img {
    width: 100%;
}


a {
    text-decoration: none;
    color: currentColor;
    display: inline-block;
    cursor: pointer;
}

figure{
    display: block;
}

/* palette colori */

:root {
    --blue:#0084FD;
    --light-blue:#B5DDFF;
    --purple:#9792E4;
    --yellow:#FDC15F;
    --dark-grey:#333333;
    --light:#FFFFFF;

}


/* layouts */

.container {
    max-width: 1164px;
    margin: 0 auto;
}

.container-medium {
    max-width: 1050px;
    margin: 0 auto;
}

.container-small {
    max-width: 904px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

[class^="col"]{
    padding: 0px 12px;
}

.col-2 {
    flex-basis: calc((100% / 12) * 2);
}

.col-4 {
    flex-basis: calc((100% / 12) * 4);
}

.col-6 {
    flex-basis: calc((100% / 12) * 6);
}

.col-8 {
    flex-basis: calc((100% / 12) * 8);
}

.col-10 {
    flex-basis: calc((100% / 12) * 10);
}

.col-12 {
    flex-basis: calc((100% / 12) * 12);
}



/* utility classes */

.small-text{
    font-size: 13px;
}

.medium-text{
    font-size: 22px;
}

.large-text{
    font-size: 35px;
}

.xl-text{
    font-size: 60px;
}
.xxl-text{
    font-size: 90px;
}

.text-center{
    text-align: center;
}
.text-weight-700{
    font-weight: 700;
}

.text-uppercase{
    text-transform: uppercase;
}

.text-italic{
    font-style: italic;
}

.text-opacity{
    opacity: 0.6;
}

.text-blue{
    color: var(--blue);
}

.text-white{
    color: var(--light);
}

.text-purple{
    color: var(--purple);
}

.text-yellow{
    color: var(--yellow);
}


.bg-color-purple{
    background-color: var(--purple);
}

.bg-color-light-blue{
    background-color: var(--light-blue);
}

.bg-color-blue{
    background-color: var(--blue);
}

.justify-between {
    justify-content: space-between;
}

.align-items-start{
    align-items: flex-start;
}

.align-items-center {
    align-items: center;
}


.img-block{
    display: block;
}

.button-icon{
    margin-right: 10px;
}


.relative{
    position: relative;
}
/* component classes */

.button {
    color: black;
    line-height: 40px;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    padding: 0 18px;
    white-space: nowrap;
}


/* header */

.page-header {
    background-color: var(--blue);
    padding: 16px 0px;
}

.navbar-list {
    color: var(--light);
    display: flex;
    gap: 22px;
}

li>a{
    line-height: 40px;
}

.hamburger-menu{
    color: var(--light);
   display: none;
}
/* Main */

section{
    padding: 50px 0px;
}

/* 1st Section - Cards */
.card{
    row-gap: 25px;
}

.card__style{
    border-radius: 20px;
    height: 100%;
}
.card__demo{
    display: flex;
    flex-direction: row;
}

.demo-phone{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.demo-phone__img{
    width: 200px;
}

.button__app-store{
    color: var(--light);
    background-color: var(--blue);
    padding: 0px 40px;
    letter-spacing: 4px;
}

.card__body{
    padding: 30px 25px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.card__icon{
    font-size: 60px;
}

/* 2nd Section - Developement */

.developement{
    background-color: var(--purple);
}

.developement__content{
    flex-wrap: nowrap;
}

.developement__card{
    display: flex;
    align-items: flex-end;
}
.developement__card-body{
    padding: 30px 25px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.developement__card-style{
    background-color: white;
    border-radius: 20px;
}

.developement__card-img-1{
   padding: 90px 0px;
}

.developement__button{
    background-color: var(--purple);
    border-radius: 100%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
}


/* 3rd Section */

.testimonials{
    gap: 30px;
}

.testimonials__header{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.testimonials__title{
    padding: 40px 0px;
}

.testimonials__description{
    font-size: 18px;
}

.testimonials__card-img{
    width: 200px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    object-fit: cover;
}

.testimonials__card-body{
    display: flex;
    align-items: center;
    padding: 30px 0px;
    gap: 60px;
}

.testimonials__card-p{
    padding-bottom: 40px;
    line-height: 30px;
}
.card-p__quote{
    padding: 0px 8px;
}

/* 4th Section */

.benefits{
    row-gap: 30px;
}

.benefits__title{
    margin-bottom: 75px;
}

.benefits__card{
    background-color: var(--light);
}

.button__benefits{
    background-color: var(--purple);
    padding: 0px 30px;
    color: var(--light);
    font-weight: bold;
}

/* 5th Section */

.about-us{
    margin-top: 50px;
    flex-wrap: nowrap;
    gap: 90px;
}

.about-us__content{
    display: flex;
    flex-direction: column;
    gap:70px;
}


.about-us__text{
    line-height: 40px;
    font-size: 15px;
}

.about-us__partner{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.about-us__img{
    width: 245px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    object-fit: cover;
}

.about-us__icon{
    position: absolute;
    right: 0;
    top: 10px;
}


.about-us__button{
    background-color: var(--purple);
    color: var(--light);
    font-size: 13px;
    line-height: 30px;
    padding: 0px 15px;
}

/* 6th Section */

.pricing{
    justify-content: center;
}

.pricing__title{
    margin-top: 20px;
    margin-bottom: 20px;
}

.pricing__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

.pricing__paragraph{
    max-width: 465px;
}

.pricing__button{
    letter-spacing: 4px;
    font-weight: bold;
    color: var(--purple);
    padding: 30px 80px;
    border-radius: 999px;
}

.pricing__copyright{
    font-size: 15px;
    color:var(--light);
    display: flex;
    align-items: center;
    gap: 5px;
}

.pricing__circle{
    font-size: 5px;
}

.pricing__policy{
    text-decoration: underline;
}

/* footer */

footer{
    background-color: var(--dark-grey);
    padding: 40px 0px;
}

.container-xs{
    max-width: 410px;
    margin: 0 auto;
}

.footer__content{
    font-size: 15px;
    color: var(--light);
    text-align: center;
    padding: 0px 12px;
}

.footer__paragraph{
    margin-bottom: 70px;
}

.footer__link{
    text-decoration: underline;
    color: var(--purple);
}


/* Responsive */

/* Tablet */

@media (max-width: 767.98px){
    .navbar-list{
        display: none;
    }
    .hamburger-menu{
        display: block;
    }

    .card__demo{
        flex-direction: column;
    }

    .demo-phone{
        justify-content: flex-start;
    }

    .developement__content{
        flex-wrap: wrap;
    }

    .developement__content>.col{
        width: 100%;
    }

    .responsive-title{
        font-size: 40px;
    }

    .benefits> .col-4{
        flex-basis: 50%;
    }

    .about-us__icon{
        font-size: 50px;
    }
}

/* Mobile */

@media (max-width: 575.98px){
    .demo-phone{
        justify-content: center;
    }

    [class^="col-"]{
        flex-basis: 100%;
    }

    .button__app-store{
        white-space: wrap;
    }

    .card{
        flex-direction: column;
    }

    .responsive-title{
        font-size: 22px;
    }

    .testimonials__card-body{
        flex-direction: column;
    }

    .testimonials__card-cont{
        text-align: center;
    }

    .benefits> .col-4{
        flex-basis: 100%;
    }

    .about-us{
        flex-direction: column;
        gap: 50px;
    }

    .about-us__img{
        width: 175px;
    }

    .pricing{
        text-align: center;
    }

    .pricing__content{
        gap: 30px;
    }

    .pricing__content h2{
        font-size: 27px;
    }

    .pricing__title{
        font-size: 60px;
    }

    .pricing__copyright{
        flex-wrap: wrap;
        justify-content: center;
    }
}

/* debug */

.debug .container,
 .debug .container-medium,
 .debug .container-small  {
    border: 1px solid var(--yellow);
    padding: 10px;
}

.debug .row {
    border: 1px solid var(--purple);
    padding: 10px;
}
.debug [class^="col-"] {
    border: 1px solid orange;
    padding: 10px;
}

